<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/css/show.css">
    <title>Document</title>
</head>
<body>
        <h1> Edit Pedal Page</h1>
        <div class='card card-for-show '>
    <form action="/pedals/<%=editedPedal._id%>?_method=PUT" method="POST">
        <h2>Name: <input type='text' name='Name' value="<%=editedPedal.Name%>"/> </h2>
        <h2>Price: <input type= "Number" name='Price' value='<%=editedPedal.Price%>' /> </h2>
        <h2>Analog: <input type= 'Boolean' name="Analog" value='<%=editedPedal.Analog%>' /> </h2>
        <h2><button type="submit" class="btn btn-success"> Update Pedal </button> </h2> 
    </form>
</div>
</body>
</html>