<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>Document</title>
</head>
<body>
    <h1> this is the show page</h1>
    <h2>  <%= thisPedal.Name %>   </h2>
    <h2>  <%= thisPedal.Price %>    </h2>
    <h2> <%= thisPedal.Analog %>     </h2>
    <a href="/pedals/<%=thisPedal._id %>/edit">Edit Pedal</a>
        <a href="/pedals">Back to Guitar Pedals Home</a>
</body>
</html>