<!DOCTYPE html>
<html>
    <head>
            <% include ../partials/head.ejs %>
            <link rel="stylesheet" href="/css/show.css">
        <title></title>
    </head>
    <body>
      <h1>New Pedal Page</h1>
      <nav class="navbar navbar-dark bg-dark">
        <a href="/pedals"><button class= 'btn btn-primary'>Back to User Pedal Board </button></a> <p>'  '</p>    
        <a href="/pro_pedals/"><button class= 'btn btn-primary'>See Pro Pedal Boards</button></a>
      </nav>
      <div class='card card-for-show'>
      <form action="/pedals" method="POST">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name"/> </br>
        <label for="Price">Price</label>
        <input type="text" name="Price" id="Price" /> </br>
        <label for="Analog">Analog</label>
        <input type="checkbox" name="Analog" id="Analog" />
        <input type="submit" value="Create Pedal">
      </form>
    </div>
    <div class='diagram'> <img src="/chain.jpg"> </div>

    </body>
</html>