<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
        <h1>Famous Guitarist Pedals </h1>
        <nav class="navbar navbar-dark bg-dark">
          <a href="/pedals"><button class= 'btn btn-primary'>Back to User Pedal Board</button></a>       
        </nav>
        <div class= 'pedalBoard'> 
        <div class='card'>
            <h2> <%= allGuitarists[0].Name %>   </h2>
            <h2> Pedal:  <%= allGuitarists[0].Pedals[0].Name %>    </h2>
                <a href="/pedals"><button class="btn btn-secondary">Back to Home</button> </a>
            </div>
            Image: <img src="<%= allGuitarists[0].Image %>">  

    </div>
</body>
</html>
