<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
        <h1>Famous Guitarist's Pedals </h1>
        <nav class="navbar navbar-dark bg-dark">
          <a href="/pedals"><button class= 'btn btn-primary'>Back to User Pedal Board</button></a>       
        </nav>
        <div class="container guitaristBoard"> 
         <% for (i=0; i<allGuitarists.length; i++){ %>
            <div class= 'guitaristCard'>
                <div class='card'>
                    <h2> <%= allGuitarists[i].Name %>   </h2>
                    <h2> Pedal:  <%= allGuitarists[i].Pedals[0].Name %>    </h2>
                </div>
                <div class='pics'> 
                    <img src="<%= allGuitarists[i].Image %>">  
                </div>
            </div>
    <% } %>
</div>
</body>
</html>
