<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
        <h1>Pedal Image</h1>
        <nav class="navbar navbar-dark bg-dark">
          <a href="/pro_pedals"><button class= 'btn btn-primary'>Back to Famous Guitarists</button></a>       
        </nav>
        
    <img src='<%= Show %>'/>
</div>
</body>
</html>
